{% extends "index.html" %}

{% block title %}Pieslēgšanās{% endblock %}

{% block content %}
<div>
    <div class="form-box">
        <form method="POST" action="/user_login">
            <h3 class="h3Krasa">Pieslēgšanās lapa</h3>
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="parole">
            <button type="submit" id="PrecesPoga">Pieslēgties</button>
        </form>
        <a href="/register"><button id="PrecesPoga">Reģistrācija</button></a>
    </div>
</div>
{% endblock %}