{% extends "index.html" %}

{% block title %}Reģistrācija{% endblock %}

{% block content %}
<div>
    <div class="form-box">
        <form id="form" method="POST" action="/new_user_register">
            <h3 class="h3Krasa">Reģistrācijas lapa</h3>
            <input type="text" name="firstname" placeholder="Vārds">
            <input type="text" name="lastname" placeholder="Uzvārds">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="parole">
            <input type="password" name="password_confirm" placeholder="atkārtojiet paroli">
            <input type="text" name="address" placeholder="Dzīves vieta">
            <input type="text" name="mobile_number" placeholder="+371 telefona numurs">
            <button type="submit" id="PrecesPoga">Reģistrēties</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h4 class="error">{{ message }}</h4>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}
