{% extends "admin.html" %}

{% block title %}Automabīļu pārvalde{% endblock %}

{% block content %}
<div class="navigation-bar">
    <a href="/profile">Profils</a>
    <a href="/admin">Vadības panelis</a>
    <a href="/logout">Iziet</a>
</div>

<div id="lodzinjs" class="form-box">
    <form class="form" method="POST" action="/save_car">
        <h3 class="h3Krasa">Pievienot automašīnu nomai!</h3>
        <input type="text" name="manufacture" placeholder="Automobīļa marka">
        <input type="text" name="model" placeholder="Automobīļa modelis">
        <button type="submit" id="PrecesPoga">Pievienot</button>
    </form>
</div>
{% endblock %}