body {
  background-image: url("/static/img/adminlapa.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover, contain;
  background-color: lightgray;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
}

a:active {
    color: grey
}

.navigation-bar {
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    margin-top: 13%;
}

.navigation-bar > a {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 0.2%;
    color: black;
    padding: 0.4%;
}

.form-box {
    background-image: url("../img/lodzinjaFons.png");
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: solid 3px whitesmoke;
    border-radius: 15px;
    width: 240px;
    margin-top: 1%;
}

form > input, form > select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 2px solid white;
    background-color: white;
    outline: none;
    width: 190px;
    margin-bottom: 15px;
}

form > input:active, form > select:active {
    background: whitesmoke;
    border: 2px solid grey;
}

.h3Krasa {
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: white;
    margin-top: -10px;
    margin-left: 30px;
}

h3 {
    margin-top: -10px;
    margin-left: 20px;
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: purple;
}

#form {
    background-image: url("../img/lodzinjaFons.png");
    background-size: cover;
    margin-top: 50px;
    margin-left: 800px;
    padding: 20px;
    border: 3px solid purple;
    border-radius: 15px;
    width: 240px;
    height: 400px;
}

#biblioteka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jaunsLogs {
    display: flex;
    background-image: url("../img/fons.jpg");
    background-size: cover;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}

h4 {
    color: gray;
}

.admin-library {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

#biblioteka {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(46, 46, 46);
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 10px;
    margin-bottom: 2%;
} 

#biblioteka > h1 {
    text-shadow: 2px 2px 10px black;
}

#processing {
    color: rgb(255, 123, 0);
}

#accepted {
    color: lime;
}

#declined {
    color: rgb(197, 50, 50);
}