.adminPos {
    position: absolute;
    margin-left: 1800px;
}


.adminPoga {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 25px;
    font-size: 20px;
    font-family: sans-serif;
    background: #CCCCCC;
}

.adminPoga:visited {
    color: black;
    text-decoration: none;
}

.adminPoga:link {
    text-decoration: none;
    color: black;
}

#biblioteka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jaunsLogs {
    display: flex;
    background-image: url("/img/fons.png");
    margin-top: 350px;
    margin-left: 15px;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
}

#apst {
    display: none;
}

#neapst {
    display: none;
}

h4 {
    color: white;
    overflow-wrap: break-word;
}