body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgray;
  }

.logo2 {
    display: flex ;
    margin-left: 770px;
}

.LOGO {
    width: 400px;
    height: 250px;
}

.nomasPoga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.nomatAuto {
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    width: 348px;
    height: 60px;
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
}

.nomatAuto:active {
    color: purple;
    background: black;
    border: 3px solid whitesmoke;
}

.nomatAuto:visited {
    color: black;
    text-decoration: none;
}

.nomatAuto:link {
    text-decoration: none;
    color: black;
}

.nomasText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

.adminPos {
    position: absolute;
    margin-top: -250px;
    margin-left: 1780px;
}


.adminPoga {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 25px;
    font-size: 20px;
    font-family: sans-serif;
    background: #CCCCCC;
}

.adminPoga:visited {
    color: black;
    text-decoration: none;
}

.adminPoga:link {
    text-decoration: none;
    color: black;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jaunaNoma {
    background-color: white;
    font-size: 25px;
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: black;
    font-weight: 700;
    border: solid 4px black;
    width: 281px;
    height: 50px;
    border-radius: 1000px;
    cursor: pointer;
}

#jaunaNoma:active {
    background: whitesmoke;
    border: 3px solid grey;
}

#vards {
    margin-top: 0px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;

}

#uzvards {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#dzivesVieta {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#numurs {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#budzets {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#marka {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#datums {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#PrecesPoga {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    border: 3px solid black;
    font-size: 25px;
    background: white;
    width: 200px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
}

#PrecesPoga:active {
    background: whitesmoke;
    border: 3px solid grey;
}

#decline {
    display: none;
}

#accept {
    display: none;
}

#lodzinjs {
    display: none;
}

.h3Krasa {
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: white;
    margin-top: -10px;
    margin-left: 30px;
}

#form {
    background-image: url("../img/lodzinjaFons.png");
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: solid 3px whitesmoke;
    border-radius: 15px;
    width: 240px;
    height: 400px;
    margin-top: 50px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

#biblioteka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jaunsLogs {
    display: flex;
    background-image: url("../img/fons.jpg");
    margin-left: 15px;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
}

#apst {
    display: none;
}

#neapst {
    display: none;
}

h4 {
    color: white;
    overflow-wrap: break-word;
}