body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LOGO {
    width: 400px;
    height: 250px;
}

.backPos {
    position: absolute;
    margin-top: -250px;
    margin-left: 1860px;
}

.back {

    font-size: 20px;
    background: #CCCCCC;
}

.back:visited {
    color: black;
    text-decoration: none;
}

.back:link {
    text-decoration: none;
    color: black;
}
