body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgray;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
}

a:active {
    color: grey
}

.navigation-bar {
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
}

.navigation-bar > a {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 0.2%;
    color: black;
    padding: 0.4%;
}

.logo {
    display: block;
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.nomasPoga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.nomatAuto {
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    width: 348px;
    height: 60px;
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
}

.nomatAuto:active {
    color: purple;
    background: black;
    border: 3px solid whitesmoke;
}

.nomatAuto:visited {
    color: black;
    text-decoration: none;
}

.nomatAuto:link {
    text-decoration: none;
    color: black;
}

.nomasText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

.adminPos {
    position: absolute;
    margin-left: auto;
}


.adminPoga {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 25px;
    font-size: 20px;
    font-family: sans-serif;
    background: #CCCCCC;
}

.adminPoga:visited {
    color: black;
    text-decoration: none;
}

.adminPoga:link {
    text-decoration: none;
    color: black;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jaunaNoma {
    background-color: white;
    font-size: 25px;
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: black;
    font-weight: 700;
    border: solid 4px black;
    width: 281px;
    height: 50px;
    border-radius: 1000px;
    cursor: pointer;
}

#jaunaNoma:active {
    background: whitesmoke;
    border: 3px solid grey;
}

form {
    background-image: url("../img/lodzinjaFons.png");
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: solid 3px whitesmoke;
    border-radius: 15px;
    width: 240px;
    margin-top: 50px;
}

form > input, form > select {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    border: 2px solid white;
    background-color: white;
    outline: none;
    width: 190px;
}

form > input:active, form > select:active {
    background: whitesmoke;
    border: 2px solid grey;
}

form > label {
    color: white;
    font-size: 20px;
}

option {
    background-color: whitesmoke;
}


#from_date {
    margin-left: 42px;
}

#no {
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#lidz {
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}

#dzest {
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    border: 3px solid white;
    background-color: white;
}


#PrecesPoga {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    border: 3px solid black;
    font-size: 25px;
    background: white;
    width: 200px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
}

#decline {
    display: none;
}

#accept {
    display: none;
}

#lodzinjs {
    display: none;
}

.h3Krasa {
    font-family: "微软雅黑", "Microsoft YaHei", "Neuropolitical", sans-serif;
    color: white;
    margin-top: -10px;
    margin-left: 30px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

#biblioteka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jaunsLogs {
    display: flex;
    background-image: url("../img/fons.jpg");
    margin-left: 15px;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
}

#apst {
    display: none;
}

#neapst {
    display: none;
}

.poga1 {
    display: none;
}

.poga2 {
    display: none;
}

h4 {
    color: white;
    overflow-wrap: break-word;
}