{% extends "index.html" %}

{% block title %}Admin lapa{% endblock %}

{% block content %}
<div id="biblioteka">
  {% for car in cars %}
    <div class="jaunsLogs">
      <h4> ID:</h4>
      <h4>Vārds:</h4>
      <h4>Uzvārds:</h4>
      <h4>Dzīves vieta:</h4>
      <h4>Telefona numurs:</h4>
      <h4>Automobīļa marka:</h4>
      <h4>Nomas datums no:</h4>
      <h4>Nomas datums līdz:</h4>
      <button>Aptiprināt</button>
      <button>Neapstiprināt</button>
      <h5>Noma apstiprināta!</h5>
      <h5>Noma noraidīta!</h5>
    </div>
  {% endfor %}
</div>
{% endblock %}