<!DOCTYPE html>
<html lang="lv">
<head>
    <title>Karliku AutoNoma</title>
    <link rel="Icon" href="../static/img/logo_mazais.png">
</head>
<body>
<style>
  body {
  background-image: url("../static/img/adminlapa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
  }
</style>
<link rel="stylesheet" href="../static/css/izvelne.css">

<div class="adminPos">
  <a href="/" class="adminPoga">---></a>
</div>

<div id="biblioteka">

</div>

<script src="../static/js/autoNoma.js">
</script> 

</body>
</html>
