<!DOCTYPE html>
<html lang="lv">
<head>
    <title>Karliku AutoNoma</title>
    <link rel="Icon" href="/static/img/logo_mazais.png">
</head>
<body>
    <link rel="stylesheet" href="/static/css/smukusadmin.css">
    <div class="logo2">
        <img class="LOGO" src="/static/img/lielaisLogo.png">
    </div>

    <div class="test">
        <a href="/" class="backbutton">Back</a>
    </div>

    <p class="nomasText">Nomā mašīnu jau tagad!</p>
    <div class="nomasPoga">
        <button class="nomātAuto">Nomāt Automašīnu</button>
    </div>
</body>
</html>
