<!DOCTYPE html>
<html lang="lv">
<head>
    <title>Karliku AutoNoma</title>
    <link rel="Icon" href="/static/img/logo_mazais.png">
</head>
<body>
    <link rel="stylesheet" href="/static/css/smukus.css">
    <div class="logo2">
        <img class="LOGO" src="/static/img/lielaisLogo.png">
    </div>

    <div class="adminPos">
        <a href="/admin" class="adminPoga">Admin</a>
    </div>

    <p class="nomasText">Nomā mašīnu jau tagad!</p>
    <div class="div">
        <div class="nomasPoga">
            <a class="nomatAuto" href="/izvele">Nomāt Automašīnu</a>
        </div>
    </div>
</body>
</html>